#form{min-height: 0px; color: black; gap: 50px; margin-bottom: 100px;}
form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 380px;
    max-width: 100%;
}
.error{
    border-color: var(--error) !important;
    border-width: 2px !important;
}