form ul legend{
    font-size: 16px;
}
form ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 13.5px;
    text-align: start;
}
form ul label{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
}
form ul label input{
    cursor:pointer;
    width: 20px;
    height: 20px;
    margin: 0;
}